# Assignment: AI Data Architecture Design and Implementation

In [2]:
import pandas as pd
import numpy as np
import mysql.connector
from dateutil import parser
import re
from datetime import datetime

# upload files from csv data base

In [3]:
files = [
    r'D:\Manish\LEARNINGS\BITSOM\Assigments\Graded Assigment 3\customer_raw_data.csv',
    r'D:\Manish\LEARNINGS\BITSOM\Assigments\Graded Assigment 3\product_raw_data.csv',
    r'D:\Manish\LEARNINGS\BITSOM\Assigments\Graded Assigment 3\order_data.csv',
    r'D:\Manish\LEARNINGS\BITSOM\Assigments\Graded Assigment 3\order_item_data1.csv'
]

# Read files on pd system

In [4]:
df=pd.read_csv(files[0])
print(df.head())
df=pd.read_csv(files[1])
print(df.head())
df=pd.read_csv(files[2])
print(df.head())
df=pd.read_csv(files[3])
print(df.head())

  customer_id first_name last_name                     email         phone  \
0        C001      Rahul    Sharma    rahul.sharma@gmail.com  9.876543e+09
1        C002      Priya     Patel     priya.patel@yahoo.com -9.988777e+09
2        C003       Amit     Kumar                       NaN  9.765432e+09
3        C004      Sneha     Reddy     sneha.reddy@gmail.com  9.123457e+09
4        C005     Vikram     Singh  vikram.singh@outlook.com  9.988112e+09

        city registration_date
0  Bangalore        15-01-2023
1     Mumbai        20-02-2023
2      Delhi        10-03-2023
3  Hyderabad        15-04-2023
4    Chennai        22-05-2023
  product_id        product_name     category    price  stock_quantity
0       P001  Samsung Galaxy S21  Electronics  45999.0           150.0
1       P002  Nike Running Shoes      fashion   3499.0            80.0
2       P003   Apple MacBook Pro  ELECTRONICS      NaN            45.0
3       P004        Levi's Jeans      Fashion   2999.0           120.0
4       P005     Sony Headphones  electronics   1999.0           200.0
   order_id customer_id  order_date     status  quantity  unit_price
0         1        C001  15-01-2024  Completed         1       45999
1         2        C002  16-01-2024  Completed         2        2999
2         3        C003  15-01-2024  Completed         1       52999
3         4         NaN  18-01-2024    Pending         1        3499
4         5        C005  20-01-2024  Completed         3         650
   order_item_id  order_id product_id  quantity  unit_price  subtotal
0            101         1       P001         1       45999     45999
1            102         2       P004         2        2999      5998
2            103         3       P007         1       52999     52999
3            104         4       P002         1        3499      3499
4            105         5       P009         3         650      1950

# File Cleaning Process 
# Customer data File 0 / Product data File 1 / Order data File 2 / Order Item File 3

In [5]:
# CLEANING PROCESS File 0 - Customer data
df=pd.read_csv(files[0])

print("Initial record count:", len(df))

df.replace({r'^\s*$': np.nan}, regex=True, inplace=True) 

df['email'] = df['email'].apply(lambda x: x.strip().lower() if isinstance(x, str) else x)
df['email'] = df['email'].fillna(
    df['customer_id'].astype(str) + '@noemail.com'
)

df['phone'] = (
    df['phone']
    .astype(str)
    .str.replace(r'\D', '', regex=True)
    .where(lambda x: x.str.len() >= 10)
)


df['registration_date'] = df['registration_date'].apply(lambda x: parser.parse(x).date() if pd.notnull(x) else x)

duplicate_count = df.duplicated().sum()
print(f'Duplicate records removed: {duplicate_count}')
df.drop_duplicates(inplace=True)

missing_values = df.isnull().sum().sum()
print(f'Total missing values after cleaning: {missing_values}')

print("After cleaning:")
print("Final record count:", len(df))
print(df.isnull().sum())
df = df.replace({np.nan: None})
print(df.head())

Initial record count: 26
Duplicate records removed: 1
Total missing values after cleaning: 0
After cleaning:
Final record count: 25
customer_id          0
first_name           0
last_name            0
email                0
phone                0
city                 0
registration_date    0
dtype: int64
  customer_id first_name last_name                     email        phone  \
0        C001      Rahul    Sharma    rahul.sharma@gmail.com  98765432100
1        C002      Priya     Patel     priya.patel@yahoo.com  99887765640
2        C003       Amit     Kumar          C003@noemail.com  97654321090
3        C004      Sneha     Reddy     sneha.reddy@gmail.com  91234567890
4        C005     Vikram     Singh  vikram.singh@outlook.com  99881122330

        city registration_date
0  Bangalore        2023-01-15
1     Mumbai        2023-02-20
2      Delhi        2023-10-03
3  Hyderabad        2023-04-15
4    Chennai        2023-05-22

In [19]:
# CLEANING PROCESS  FILE 1
df=pd.read_csv(files[1])

# 1. intitial records
print("Initial record count:", len(df))

# 2. Replace empty strings with NaN
df.replace({r'^\s*$': np.nan}, regex=True, inplace=True) 
df = df.replace({np.nan: None}) 
# df['email'] = df['email'].apply(lambda x: x.strip().lower() if isinstance(x, str) else x)
# df['phone'] = df['phone'].apply(lambda x: re.sub(r'\D', '', x) if isinstance(x, str) else x)
# df['registration_date'] = df['registration_date'].apply(lambda x: parser.parse(x).date() if pd.notnull(x) else x)
duplicate_count = df.duplicated().sum()
print(f'Duplicate records removed: {duplicate_count}')
df.drop_duplicates(inplace=True)
missing_values = df.isnull().sum().sum()
print(f'Total missing values after cleaning: {missing_values}')

print("After cleaning:")
print("Final record count:", len(df))
print(df.isnull().sum())
df = df.replace({np.nan: None})

Initial record count: 20
Duplicate records removed: 0
Total missing values after cleaning: 4
After cleaning:
Final record count: 20
product_id        0
product_name      0
category          0
price             3
stock_quantity    1
dtype: int64

In [22]:
# CLEANING PROCESS FILE 2
df=pd.read_csv(files[2])
print("Initial record count:", len(df))
df.replace({r'^\s*$': np.nan}, regex=True, inplace=True)
# df['email'] = df['email'].apply(lambda x: x.strip().lower() if isinstance(x, str) else x)
# df['phone'] = df['phone'].apply(lambda x: re.sub(r'\D', '', x) if isinstance(x, str) else x)
df['order_date'] = df['order_date'].apply(lambda x: parser.parse(x).date() if pd.notnull(x) else x)
duplicate_count = df.duplicated().sum()
print(f'Duplicate records removed: {duplicate_count}')
df.drop_duplicates(inplace=True)
missing_values = df.isnull().sum().sum()
print(f'Total missing values after cleaning: {missing_values}')

print("After cleaning:")
print("Final record count:", len(df))
print(df.isnull().sum())
df = df.replace({np.nan: None})

Initial record count: 41
Duplicate records removed: 1
Total missing values after cleaning: 3
After cleaning:
Final record count: 40
order_id       0
customer_id    3
order_date     0
status         0
quantity       0
unit_price     0
dtype: int64

# Creation of total amount column in order table

In [25]:
df['subtotal'] = df['quantity'] * df['unit_price']

orders_df = (
    df
    .groupby(['order_id', 'customer_id', 'order_date', 'status'], as_index=False)
    .agg(total_amount=('subtotal', 'sum'))
)

orders_df['order_date'] = pd.to_datetime(
    orders_df['order_date'],
    errors='coerce',
    dayfirst=True
).dt.date

# Remove bad rows
orders_df = orders_df.dropna(subset=['customer_id', 'order_date', 'total_amount'])

print(orders_df.head())

   order_id customer_id  order_date     status  total_amount
0         1        C001  2024-01-15  Completed         45999
1         2        C002  2024-01-16  Completed          5998
2         3        C003  2024-01-15  Completed         52999
3         5        C005  2024-01-20  Completed          1950
4         6        C006  2024-01-22  Completed         12999

In [32]:
# CLEANING PROCESS File 3
df=pd.read_csv(files[3])

print("Initial record count:", len(df))

df.replace({r'^\s*$': np.nan}, regex=True, inplace=True) 

# df['email'] = df['email'].apply(lambda x: x.strip().lower() if isinstance(x, str) else x)

# df['phone'] = df['phone'].apply(lambda x: re.sub(r'\D', '', x) if isinstance(x, str) else x)

# df['registration_date'] = df['registration_date'].apply(lambda x: parser.parse(x).date() if pd.notnull(x) else x)

duplicate_count = df.duplicated().sum()
print(f'Duplicate records removed: {duplicate_count}')
df.drop_duplicates(inplace=True)

missing_values = df.isnull().sum().sum()
print(f'Total missing values after cleaning: {missing_values}')

print("After cleaning:")
print("Final record count:", len(df))
print(df.isnull().sum())
df = df.replace({np.nan: None})
print(df.head())

Initial record count: 41
Duplicate records removed: 1
Total missing values after cleaning: 2
After cleaning:
Final record count: 40
order_item_id    0
order_id         0
product_id       2
quantity         0
unit_price       0
subtotal         0
dtype: int64
   order_item_id  order_id product_id  quantity  unit_price  subtotal
0            101         1       P001         1       45999     45999
1            102         2       P004         2        2999      5998
2            103         3       P007         1       52999     52999
3            104         4       P002         1        3499      3499
4            105         5       P009         3         650      1950

# UPLOAD into MYSQL system
# Customer data File 0 / Product data File 1 / Order data File 2 / Order Item File 3

In [6]:
import mysql.connector 

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mannu@510",
    database="fleximart"
)  

cursor = conn.cursor() # 

insert_query = """
INSERT IGNORE INTO customers
(customer_id,first_name, last_name, email, phone, city, registration_date)
VALUES (%s,%s, %s, %s, %s, %s, %s)
"""

### IGNORE is added as already product id is fed into mysql product table. 
# so to avoid double reading put IGNORE. otherwsie not required
inserted = 0
for _, row in df.iterrows():
    cursor.execute(insert_query, 
    (   row['customer_id'],
        row['first_name'],
        row['last_name'],
        row['email'],
        row['phone'],
        row['city'],
        row['registration_date']
    ))
    inserted += 1

conn.commit()
cursor.close()
conn.close()
print("✅ Data inserted successfully:", inserted)

✅ Data inserted successfully: 25

In [21]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mannu@510",
    database="fleximart"
)

cursor = conn.cursor()

insert_query = """ 
INSERT IGNORE INTO Products  
(product_id, product_name, category, price, stock_quantity)
VALUES (%s, %s, %s, %s, %s)
"""

for _, row in df.iterrows():
    cursor.execute(insert_query, (
        row['product_id'],
        row['product_name'],
        row['category'],
        row['price'],
        row['stock_quantity']
    ))

conn.commit()

print("✅ Data inserted successfully:", inserted)

✅ Data inserted successfully: 25

In [27]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mannu@510",
    database="fleximart",
    autocommit=True
)

cursor = conn.cursor()

insert_query = """
INSERT IGNORE INTO orders (order_id, customer_id, order_date, total_amount, status)
VALUES (%s, %s, %s, %s, %s)
"""

inserted = 0
for _, row in orders_df.iterrows():
    cursor.execute(insert_query, (
        row['order_id'],
        row['customer_id'],
        row['order_date'],
        float(row['total_amount']),
        str(row['status'])
    ))
    inserted += 1

print("✅ Orders inserted:", inserted)

cursor.close()
conn.close()

✅ Orders inserted: 37

In [34]:
import mysql.connector 

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Mannu@510",
    database="fleximart"
)  

cursor = conn.cursor() # 

insert_query = """
INSERT IGNORE INTO order_items
(order_item_id, order_id, product_id, quantity, unit_price,
       subtotal)
VALUES (%s,%s, %s, %s, %s, %s)
"""


for _, row in df.iterrows():
    cursor.execute(insert_query, 
    (   row['order_item_id'],
        row['order_id'],
        row['product_id'],
        row['quantity'],
        row['unit_price'],
        row['subtotal']
    ))

conn.commit()

print("✅ Data inserted successfully:", inserted)

✅ Data inserted successfully: 37

data_quality_report.txt- Generated report showing:

Customer Data
Number of records processed per file - 26
Number of duplicates removed - 1
Number of missing values handled - 0
Number of records loaded successfully - 25

Product Data
Number of records processed per file- 20
Number of duplicates removed - 0
Number of missing values handled - 4
Number of records loaded successfully - 25

Order Data
Number of records processed per file - 41
Number of duplicates removed - 1
Number of missing values handled - 3
Number of records loaded successfully - 37

Order Item  Data
Number of records processed per file - 41
Number of duplicates removed - 1
Number of missing values handled - 2
Number of records loaded successfully - 37